@using Newtonsoft.Json.Linq
@{
    ViewData["Title"] = "My apps";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<table class="table table-striped table-condensed" style="font-family: monospace">
    <tr>
        <th>Property</th>
        <th>Value</th>
    </tr>
    @{       
//        var apps = (IEnumerable<Microsoft.Graph.UserAppRoleAssignmentsCollectionPage>)ViewData["applications"];
        var myapps = (Microsoft.Graph.UserAppRoleAssignmentsCollectionPage)ViewData["myapps"];
        foreach (var app in myapps)
        {
            var properties = app.GetType().GetProperties();
            foreach (var child in properties)
            {
                object value = child.GetValue(app);
                string stringRepresentation;
                if (!(value is string) && value is IEnumerable<string>)
                {
                    stringRepresentation = "["
                        + string.Join(", ", (value as IEnumerable<string>).OfType<object>().Select(c => c.ToString()))
                        + "]";
                }
                else
                {
                    stringRepresentation = value?.ToString();
                }

            <tr>
                <td> @child.Name </td>
                <td> @stringRepresentation </td>
            </tr>
                }
            }
        }
</table>